# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/

# Pytest
.pytest_cache/
htmlcov/
.coverage

# Test reports
reports/
allure-results/
allure-report/

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/